.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 450px;
    margin-top: 50px;
  }
  
  .profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-container p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .profile-container input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  .save-btn,
  .edit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-btn:hover,
  .edit-btn:hover {
    background-color: #0056b3;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  .users-hyperlink {
    text-decoration: none;
  }

  .profile-main {
    margin: 20px;
  }
  