.user-details-container {
  margin: 100px;
}

.user-details-container h3 {
  margin-bottom: 10px;
}

.user-details-table {
  width: 100%;
  border-collapse: collapse;
}

.user-details-table th,
.user-details-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-details-table th {
  background-color: #f2f2f2;
}

.user-details-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-details-table tbody tr:hover {
  background-color: #e6e6e6;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.back-button {
  text-decoration: none;
}
